
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}



.header{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #34343a;
  color: white;
  padding-top: 10px;
  
}

.center ul li{
  list-style: none;
  display: inline-flex;
  margin: 0px 5px;
}

.title{
  font-size: 1 rem;
  font-weight: bold;
  color: black;
}
.left{
  flex: 4;
  /* border: 1px solid black; */
 
  
}

.right{
 flex: 4;
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
}
.search{
  flex: 2;
  /* border: 1px solid black; */
    
}

.bannerBox img
{
  width: 100%;
  margin: 10px 0px;

}

.collectionImages{
  display: flex;
  width: 100%;
  gap: 10px;
}

.collectionImages img{
  width: 230px;
  height: 230px;
  
}

.LadiesBanner img {
  width: 100%;
  
}